h1,
h2,
h3,
p {
  color: #262626;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
html{
	background:#ebeff6
}
.PSI-About-body {
  background-color: white !important;
}

.PSI-Msgbx-tip {
  background-color: white !important;
}

.PSI-Bizconfig .x-panel-body-default {
  border-color:white;
}

.PSI-about p {
  font-size: 13px;
  color: #262626;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

/* .x-panel-header-text-container-default { */
/* font-size: 12px; */
/* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
/* } */

.x-btn-default-small .x-btn-inner {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

/* .x-tree-node-text {
	font-size: 13px;
} */

.x-mask-msg div {
  font-size: 12px;
}

.x-btn-default-toolbar-small .x-btn-inner {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

/* .x-menu-item-text { */
/* font-size: 13px; */
/* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
/* } */

/* .x-toolbar .x-toolbar-text { */
/* font-size: 13px; */
/* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
/* } */

.x-grid-row .x-grid-cell {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-window-header-default {
  font-size: 11px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-window-header-text-default {
  font-size: 11px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-window-header-text-container-default {
  font-size: 11px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-column-header {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-tip-header,
.x-tip-body,
.x-form-invalid-tip-body {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-tab button {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

#msg-div {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 400px;
  margin-left: -200px;
  z-index: 20000;
}

#msg-div .msg {
  border-radius: 8px;
  -moz-border-radius: 8px;
  background: #F6F6F6;
  border: 2px solid #ccc;
  margin-top: 2px;
  padding: 10px 15px;
  color: #555;
}

#msg-div .msg h3 {
  margin: 0 0 8px;
  font-weight: bold;
  font-size: 15px;
}

#msg-div .msg p {
  margin: 0;
}

.PSI-Copyright {
  background-color: #3975d5 !important;
}

.PSI-Copyright .x-panel-header-text-container-default {
  color: white !important;
}

.PSI-App {
  background-image: none;
  background-color: #3975d5 !important;
}

.PSI-App .x-btn-default-toolbar-small .x-btn-inner {
  color: white !important;
}

.PSI-App-MainMenu {
  background-image: none;
  background-color: #3975d5 !important;
  border: 0;
}

.PSI-App-MainMenu .x-menu-item-text {
  color: white !important;
}

.PSI-App-MainMenu .x-menu-item-active {
  background-image: none;
  background-color: #cdddf9;
  border-color: #cdddf9;
}

.PSI-App .x-btn-default-toolbar-small-menu-active,
.PSI-App .x-btn-default-toolbar-small-pressed,
.PSI-App .x-btn-default-toolbar-small-over {
  background-image: none;
  background-color: #2963c0;
  border: 0;
  height: 22px;
}
.PSI-App .x-btn-default-toolbar-small-menu-active:hover,
.PSI-App .x-btn-default-toolbar-small-pressed:hover,
.PSI-App .x-btn-default-toolbar-small-over:hover {
  background-image: none;
  background-color: #2963c0;
  border: 0;
  height: 22px;
}
.x-btn-default-toolbar-small-focus{  background: none;}
.PSI-App .x-btn-default-toolbar-small .x-btn-arrow {
  background-image: none;
}

.PSI-Field {
  border-color: white !important;
}

.x-grid-header-ct {
  border-color: #c3cbcc;
}

.x-border-layout-ct {
  
}

.x-window-default {
  background-color: white;
}

.x-window-body-default {
  border-color: white;
  background-color: white;
}

.x-window-header-default-top {
  background-color: white;
}

.x-message-box .x-window-body {
  background-color: white;
}

.x-panel-default {
  border-color: #c3cbcc;
}

.x-panel-header-default {
  background-image: none;
  background-color: #f1f4f7;
  border-color: #c3cbcc;
}

.PSI .x-panel-header-default {
  background-image: none;
  background-color: #f5f5f5;
}

.x-toolbar-default {
  background-image: none;
  background-color: #f0eff5;
  border-color: #c3cbcc;
  border: none;
    padding: 2px 10px


}

.PSI .x-toolbar-default {
  background-image: none;
  background-color: #f0eff5;
  border-color: #c3cbcc;
}

.PSI .x-btn-default-toolbar-small-disabled {
  border-color: transparent;
}

.x-tab-bar-default-top {
  background-image: none;
  background-color: #DAE6F3;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-panel-body-default {
  border-color: #c3cbcc;
  background: #fff;
}

.x-btn-default-small-over {
  /*background-image: none;
  border-color: #f759ab;
  background-color: #ffadd2;*/
}

.x-btn-default-small {
  background-image: none;
  border-color: #1890ff;
}

.x-toolbar-separator-horizontal {
  border-left-color: #4576ce;
  border-right-color: #dcdada
}

.x-tab-bar .x-tab-bar-body {
  height: 34px !important;
}

.x-tab-bar .x-tab-bar-body .x-box-inner {
  height: 32px !important;
}

.x-tab-bar-strip {
  height: 32px !important;
}

.x-tab-bar .x-tab-bar-body {
  background-color: #f5f5f5;
}

.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
  height: 32px !important;
}

.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab-button {
  height: 24px !important;
  line-height: 24px !important;
  margin-top: 5px;
}

.x-tab-default .x-tab-inner {
  font-weight: normal;
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
  color: #777777;
}

.x-tab-default-top {
  background-image: none;
  background-color: white;
  border-color: white;
}

.x-tab-default-top-active {
  background-image: none;
  background-color: white;
  border-bottom: 2px solid #427cac;
}

.x-tab-default-top-active .x-tab-inner {
  color: #427cac;
}

.x-horizontal-box-overflow-body {
  background-color: white;
}

.x-splitter-horizontal {
  background-color: #f9f0ff;
}

.x-splitter-vertical {
  background-color: #f9f0ff;
}

.x-btn-default-small .x-btn-inner {
  color: #096dd9;
}

.x-panel-header-text-container-default {
  font-weight: normal;
  color: #333;
}

.x-btn-default-toolbar-small .x-btn-inner {
  color: #333;
}

.x-btn-default-toolbar-small-over {
  background-image: none;
}

.x-btn-default-toolbar-small-menu-active,
.x-btn-default-toolbar-small-pressed {
  background-image: none;
}

.x-menu-item-text {
  color: #333;
}

.x-menu-item-active {
  background-image: none;
}

.x-column-header-text {
  color: #666;
}

.x-form-item-label {
  font-size: 13px;
  color: #666;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-toolbar-item .x-form-display-field {
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-form-display-field {
  font-size: 13px;
  color: #333;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-form-cb-label {
  color: #262626;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-form-date-trigger {
  background: url(../Images/form/trigger.gif);
}

.x-toolbar .x-toolbar-text {
  color: #196d6d;
}

/* .x-toolbar-text { */
/* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
/* } */

.x-grid-header-ct {
  background-image: none;
  background-color: #f5f5f5;
}

.x-column-header {
  background-image: none;
  background-color: #f5f5f5;
  line-height: 18px;
}

.x-column-header-over {
  background-image: none;
  background-color: #d6e4ff;
}

.x-grid-cell-row-numberer {
  background-image: none;
}

.x-grid-cell-inner {
  color: #262626;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.PSI .x-grid-row td,
.x-grid-summary-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-recent-fid .x-grid-row td {
  line-height: 26px;
  vertical-align: top;
}

.PSI-recent-fid .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-recent-fid .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

.x-grid-row-summary .x-grid-cell,
.x-grid-row-summary .x-grid-rowwrap,
.x-grid-row-summary .x-grid-cell-rowbody {
  font-size: 13px;
}

.x-form-text {
  color: #262626;
  font-size: 13px;
  background-image: none;
  border-color: transparent transparent #c5c5c59e transparent;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
  background-image: none;
}

.PSI-SCBill .x-form-text {
  border-color: #dbdbdb;
}

.PSI-toolbox .x-form-text {
  background-image: none;
  border-color: #dbdbdb;
}

/* input{
  caret-color: #ad4e00;
}
input:focus{
  border-color:transparent transparent #9254de transparent;
  border-width: 1px;
} */

.x-form-type-text textarea.x-form-invalid-field,
.x-form-type-text input.x-form-invalid-field,
.x-form-type-password textarea.x-form-invalid-field,
.x-form-type-password input.x-form-invalid-field,
.x-form-type-number textarea.x-form-invalid-field,
.x-form-type-number input.x-form-invalid-field,
.x-form-type-email textarea.x-form-invalid-field,
.x-form-type-email input.x-form-invalid-field,
.x-form-type-search textarea.x-form-invalid-field,
.x-form-type-search input.x-form-invalid-field,
.x-form-type-tel textarea.x-form-invalid-field,
.x-form-type-tel input.x-form-invalid-field {
  background-image: none;
  border-color: transparent transparent red transparent;
}

.x-form-trigger {
  border-width: 1px;
}

.x-list-plain {
  color: #262626;
  font-size: 13px;
  /* font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif; */
}

.x-datepicker-header {
  background-color: white;
  background-image: none;
}

.x-datepicker-footer {
  background-image: none;
}

.x-grid-row-before-selected .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #d0d2e6;
}

.x-grid-row-selected .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #1890ff;
}

.x-grid-row-before-focused .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #d0d2e6;
  border-bottom-width: 1px;
}

.x-grid-row-focused .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #1890ff;
  border-bottom-width: 1px;
}

.x-grid-table .x-grid-row-focused-first .x-grid-td {
  border-top: 1px solid #d0d2e6;
}

.x-grid-with-row-lines .x-grid-table-selected-first {
  border-top-style: solid;
  border-top-color: #d0d2e6;
}

.x-grid-body .x-grid-table-focused-first {
  border-top: 1px solid #d0d2e6;
}

/* 说明或备注这类字段的样式 */
.PSI-field-note {
  color: #999;
  border-bottom: 1px solid #eee;
}

.PSI-lookup-note {
  color: #196d6d;
  margin-left: 2px;
}

.PSI-viewBill-field {
  color: #a8071a;
}

/* 标题里面的关键高亮字词 */
.PSI-title-keyword {
  color: #0050b3;
  font-weight: bold;
}

/* Grid单元格文字自动换行 */
.PSI-grid-cell-autoWrap {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.PSI-Lookup .x-grid-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-Lookup .x-grid-row-focused .x-grid-cell-first {
  border-left: 3px solid #fa8c16;
}

.PSI-Lookup .x-grid-row-focused .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

.PSI-Lookup .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-Lookup .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* FC - First Column */
.PSI-FC .x-grid-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-FC .x-grid-row-focused .x-grid-cell-first {
  border-left: 3px solid #9254de;
}

.PSI-FC .x-grid-row-focused .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

.PSI-FC .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-FC .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* HL - Hightlight */
.PSI-HL .x-grid-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-HL .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-HL .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* LC - Lock Column */
.PSI-LC .x-grid-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-LC .x-grid-inner-locked .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-LC .x-grid-inner-locked .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* EF - Edit Form  */
.PSI-EF .x-grid-row td,
.x-grid-summary-row td {
  line-height: 18px;
  vertical-align: middle;
}

.PSI-EF .x-grid-editor .x-form-text {
  height: 26px;
}

.PSI-EF .x-trigger-cell {
  border-bottom: 1px solid #9254de;
  vertical-align: middle;
}

.PSI-EF .x-grid-row-focused .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #d0d2e6;
  border-bottom-width: 1px;
}

.PSI-EF .x-grid-row-focused .x-grid-cell-first {
  border-left: 3px solid #9254de;
}

.PSI-EF .x-grid-row-focused .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

.PSI-EF .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-EF .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* KB - kanban 看板 */
.PSI-KB .x-grid-row td {
  line-height: 22px;
  vertical-align: middle;
}

.PSI-KB .x-grid-row-focused .x-grid-cell-first {
  border-left: 3px solid #fa8c16;
}

.PSI-KB .x-grid-row-focused .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

.PSI-KB .x-grid-row-over .x-grid-cell-first {
  border-left: 3px solid #08979c;
}

.PSI-KB .x-grid-row-over .x-grid-cell-first .x-grid-cell-inner {
  padding-left: 3px;
}

/* 分页器 */
.PSI-Pagination input {
  background-color: #f0f0f0;
}

.PSI-Pagination .x-trigger-noedit {
  background-color: #f0f0f0 !important;
}

.x-btn-default-toolbar-small-disabled {
  border-color: transparent;
}

.PSI-record-disabled {
  color: gray;
  text-decoration: line-through;
}


::-webkit-scrollbar-thumb:hover {

background-color:#999 !important;

}

::selection {
    background-color: #a4d8fb !important;
    color: #000 !important;
}

.x-mask-msg-inner {
    padding: 5px 10px;
    /* border-style: solid; */
    /* border-width: 1px; */
    border: none;
    background-color: #ffffff;
    color: #222222;
    
}
.fb-bg{
	
	background:#fff !important;
}
.fb-bg.PSI-App-MainMenu .x-menu-item-text{color:#333 !important;}

.x-menu-item-link{line-height:30px;}
.x-menu-item-icon{    top: 2px;
    left: 5px;
    color: #4576ce;
    font-weight: bold;
    background-size: 100% auto;}
.PSI-button-pdf,.PSI-button-print-preview,.PSI-button-print{top:8px;}
.x-grid-record-gray .x-grid-td{ background: #948d8e; }

.x-grid-record-red .x-grid-td{ background: red; }

.x-grid-record-yellow .x-grid-td{ background: blue; }

.x-grid-record-green .x-grid-td{ background: #12dc12; }

.x-grid-record-orange .x-grid-td{ background: orange; }

.home-content{width:100%;height:100%;overflow-y:auto;background:#ebeff6 url(../Images/login-bg2.png) no-repeat center/cover !important}
.home-content-p{padding:20px;max-width:1400px;margin:20px auto;}
.home-nav-t{font-size:20px;padding:10px;}
.home-nav{background: #fff;
    border-radius: 10px;
    padding: 10px;margin-bottom:20px;
	border-left: 5px solid #4576ce;
	}


.home-nav ul{padding:10px;}




.home-nav ul li{width:23%;margin:0 0.8% 5px 0.8%;height:100px;display:inline-block;text-align:Center;background:#fff;line-height:100px;font-size:18px;border-radius:5px;vertical-align:middle;cursor:pointer;transition:all 0.2s;border:1px solid #d2e2ff}
.home-nav ul li i{margin-right:5px;font-size:40px;color:#3975d5;line-height:100px;display:inline-block;vertical-align:middle}
.home-nav ul li:hover{background:#3975d5;color:#fff}
.home-nav ul li:hover i{color:#fff}
.PSI-portal-sale {
 
    background-size: 100% 100%;
}
#PSI_User_ChangeMyPasswordForm_editForm{left:50% !important;margin-left:-300px}
.PSI-field-note2 {
  color: #999;
  border-bottom: none;
}
.x-window{padding:10px;}
.x-window-header-text-container-default {text-align:center;border:none}
.x-window-header-text-container-default span{color:#fff}
.x-window-item h2{border-left:none !important;color:#666 !important;font-size:16px !important;font-weight:500 !important }
.x-window-default,.x-window-header-default-top{border:none;}
.x-window-header-default-top{background:#3975d5;color:#fff;}
#PSI_AFX_MessageBox_ConfirmForm_buttonCancel{border:1px solid #999 !important;color:#999 !important}
#PSI_AFX_MessageBox_ConfirmForm_buttonCancel-btnInnerEl{color:#999 !important}
span.PSI-button-ok{background-image:none !important}

#buttonSave-btnInnerEl{color:#4576ce}
#buttonCancel-btnInnerEl{color:#666}
.loader {
  position: relative;
  width: 75px;
  height: 100px;
 
 
  }
  .loader-b{
	  position:fixed;
	   top:50%;
  margin-top:-75px;
  left:50%;
  margin-left:-75px;
   background:#3975d5;
   padding:0 37.5px 50px 37.5px;
   border-radius:50%;
	  
  }
  .loader__bar {
    position:absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background:  #fff;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    }
   
    .loader__bar:nth-child(1){
		 left: 0;
         transform: scale(1,0.2);
         animation: barUp1 4s infinite;
	}
 .loader__bar:nth-child(2){
		 left: 15px;
         transform: scale(1,0.4);
         animation: barUp2 4s infinite;
	}
	.loader__bar:nth-child(3){
		 left: 30px;
         transform: scale(1,0.6);
         animation: barUp3 4s infinite;
	}.loader__bar:nth-child(4){
		 left: 45px;
         transform: scale(1,0.8);
         animation: barUp4 4s infinite;
	}.loader__bar:nth-child(5){
		 left: 60px;
         transform: scale(1,1);
         animation: barUp5 4s infinite;
	}
  
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background:  #fff;
    border-radius: 50%;
    animation: ball 4s infinite;
  }

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}


@media (max-width: 750px) {
	.home-nav ul li{width:100%;margin:0 0 5px 0;}
	
}

